<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DriftPHP Demo</title>
    <meta name="author" content="DriftPHP Team">
    <meta name="description" content="This is part of the DriftPHP demo">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block css %}
    {% endblock css %}
</head>

<body>
    {% block body %}{% endblock body %}
    {% block js %}{% endblock js %}
</body>

</html>