{% extends "header.twig" %}


{% block body %}
    <ul>
        {% for key, value in values %}
            <li><a href="/{{ key }}">{{ key }} -> {{ value }}</a></li>
        {% endfor %}
    </ul>
{% endblock body %}



